{% extends 'layouts/default.njk' %}

{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block content %}

<section class="is-paddingless">
  <!-- POST CONTENT -->
    <article class="container">

      <!-- POST -->
      <div class="article content">
        <div class="header">
          <div class="header-meta">
            <a href="/tag/{{ post.primary_tag.slug }}" class='is-uppercase'>{{ post.primary_tag.name }}</a>
            <div class="is-pulled-right">{{ post.published_at.toDateString() }}</div>
          </div>
          <h1 style="margin: 0;">{{ title }}</h1>
        </div>

        {% if post.feature_image %}
        <div class="is-paddingless">
          <img width="100%" src="{{ post.feature_image }}" alt="{{ title }}">
        </div>
        {% endif %}

        <!-- POST CONTENT -->
        <div class="post content">
            {{ content | safe }}
        </div>

        <div class="post_footer">
          <p>Posted by <a href="/author/{{ post.primary_author.name }}">
              {{ post.primary_author.name }}
          </a> 
          <span class="is-pulled-right">{{ post.id }}</span></p>  
        </div>

      </div>
    </article>
</section>

  <section class="section">
    
  <!-- COMMENT SECTION GOES HERE -->
    
  </section>

<!-- RELATED POSTS (TBA) -->
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
