<nav class="navbar is-transparent "
         role="navigation" 
         aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar" class="navbar-menu">
          <div class="navbar-start">
            {% for item in site.navigation %}
            <a href="{{ item.url }}" class="navbar-item">
              {{ item.label }}
            </a>
            {% endfor %}            
          </div>

          <div class="navbar-end">
            <a href="" class="navbar-item">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </a>
            {% if site.facebook %}
            <a https://www.facebook.com/{{ site.facebook }}" target="_blank" class="navbar-item">
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
            </a>
            {% endif %}
            {% if site.twitter %}
            <a https://twitter.com/{{ site.twitter | replace("@", "") }}" target="_blank" class="navbar-item">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>      
    </nav>

<!--
<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-left">
            {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url }}">
                    {{ item.label }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if collections.docs %}
        <div class="site-nav-right">
            {% for doc in collections.docs %}
                <a {% if page.url == doc.url %}aria-current="page"{% endif %} class="site-nav-button{% if doc.featured %}  site-nav-button-featured{% endif %}" href="{{ doc.url }}">
                    {{ doc.meta_title if doc.meta_title else doc.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</nav>
-->